<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>App Runner Launch Pad</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

<header>
    <h1>App Runner</h1>
</header>

<main>
    <h2 th:text="${app.name}">App Name</h2>
    <ul>
        <li><a href="/" th:href="${app.url}">Launch app &gt;&gt;</a></li>
        <li><a href="/" th:href="${app.buildLogUrl}">Build logs &gt;&gt;</a></li>
    </ul>




</main>

<footer>
    <a href="https://github.com/danielflower/app-runner">App Runner source on GitHub</a>
</footer>

</body>
</html>