<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Runner Launch Pad</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

<header th:replace="base.html :: header"></header>

<main>
    <h2 th:text="${app.name}">App Name</h2>
    <ul>
        <li><a href="/" th:href="${app.url}">Launch app &gt;&gt;</a></li>
        <li><a href="/" th:href="${app.buildLogUrl}">Build logs &gt;&gt;</a></li>
        <li><a href="/" th:href="${app.consoleLogUrl}">Console logs &gt;&gt;</a></li>
    </ul>




</main>

<footer th:replace="base.html :: footer"></footer>

</body>
</html>