<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{{name} launcher(name=${app.name})}"></title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

<header th:replace="base.html :: header"></header>

<main>
    <h2 th:text="${app.name}">App Name</h2>

    <div class="app-screenshot">
        <a href="/" th:href="${app.url}"><img th:src="@{screenshots?url={url}(url=${app.url})}"></a>
        <br><a th:href="@{screenshots?refresh=true&url={url}(url=${app.url})}">(refresh)</a>
    </div>

    <p>Status: <strong th:text="${app.availableStatus}">availability</strong></p>

    <h5>Contributors: <span th:text="${app.contributors}"></span></h5>
    <ul>
        <li><a href="/" th:href="${app.url}">Launch app &gt;&gt;</a></li>
        <li><a href="/" th:href="${app.buildLogUrl}">Build logs &gt;&gt;</a></li>
        <li><a href="/" th:href="${app.consoleLogUrl}">Console logs &gt;&gt;</a></li>
    </ul>


    <h3>Contribute</h3>

    <p>Clone <code th:text="${app.gitUrl}"></code> and push your changes.</p>

    <h3>Deploy</h3>

    <p>Make a POST request to <code th:text="${app.deployUrl}"></code> or run it now:</p>

    <form th:action="${app.deployUrl}" method="POST" class="deploy-form">
        <input type="submit" value="Deploy now">
        <pre class="output"></pre>
    </form>


</main>

<footer th:replace="base.html :: footer"></footer>

</body>
<script src="deploy.js"></script>
</html>