<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App Runner Launch Pad</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

<header th:replace="base.html :: header"></header>

<main>

    <p>App Runner hosts Java, Node, and Clojure web-apps. After some simple set up, just push changes to
        the app's git repo and it will automatically be built and deployed here.</p>

    <h2>Apps</h2>

    <div class="app-container">
        <div class="app-item" th:each="app : ${apps}"
             th:style="@{background: url('screenshots?url={url}');(url=${app.url})}">
            <div class="links">
                <h2><a href="/" th:href="${app.url}" th:text="${app.name}">app-name</a></h2>
                <h5 >Contributors: <span th:text="${app.contributors}">contributors</span></h5>
                <a href="/app-name.html" th:href="@{{name}.html(name=${app.name})}">More details &gt;&gt;</a></div>

        </div>
    </div>

</main>

<footer th:replace="base.html :: footer"></footer>

</body>
</html>